flows.json
[{"id":"c8ffbbba.dc4c48","type":"tab","label":"Default","disabled":false,"info":""},{"id":"2008b4b8.640cec","type":"tab","label":"Search Main","disabled":false,"info":""},{"id":"5576153b.80163c","type":"tab","label":"Trending topics","disabled":false,"info":""},{"id":"ca6b0d67.a5226","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":50,"sy":80,"gx":6,"gy":1,"cx":6,"cy":1,"px":0,"py":1}}},{"id":"8c85ce08.3f7b3","type":"ui_tab","z":"","name":"IBM Watson Discovery","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"99765ba7.5e4af8","type":"ui_group","z":"","name":"Group 1","tab":"8c85ce08.3f7b3","order":1,"disp":false,"width":28,"collapse":false},{"id":"5bc3f723.c54258","type":"ui_group","z":"","name":"Query","tab":"","order":1,"disp":false,"width":20,"collapse":false},{"id":"68c17397.e4f94c","type":"ui_spacer","name":"spacer","group":"","order":1,"width":22,"height":1},{"id":"6d51dbfa.fc7e54","type":"ui_spacer","name":"spacer","group":"","order":3,"width":22,"height":1},{"id":"9f834b34.883fc8","type":"ui_spacer","name":"spacer","group":"","order":5,"width":22,"height":1},{"id":"53892943.63f858","type":"ui_spacer","name":"spacer","group":"","order":7,"width":22,"height":1},{"id":"21a999dc.2591d6","type":"ui_spacer","name":"spacer","group":"","order":9,"width":22,"height":1},{"id":"ab9507b3.bf8758","type":"ui_tab","z":"","name":"Trending","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"c803f0e.6d4861","type":"ui_group","z":"","name":"Trending News","tab":"ab9507b3.bf8758","order":1,"disp":true,"width":20,"collapse":false},{"id":"98da52ad.2612c","type":"ui_spacer","name":"spacer","group":"6caa184f.5e7e88","order":2,"width":1,"height":1},{"id":"a3a1f5ea.f88da8","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":2,"width":8,"height":1},{"id":"6d592223.9cc55c","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":4,"width":8,"height":1},{"id":"2260e7da.0e4df8","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":5,"width":7,"height":1},{"id":"d6c4bd34.23f9f","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":8,"width":1,"height":1},{"id":"d941dc5b.f2b7c","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":9,"width":1,"height":1},{"id":"db9bd9a8.61e288","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":10,"width":1,"height":1},{"id":"3f33967c.93f20a","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":11,"width":1,"height":1},{"id":"b31340af.c3e7","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":12,"width":1,"height":1},{"id":"da9ed04.0551e3","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":13,"width":7,"height":1},{"id":"3f68b304.651b2c","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":14,"width":7,"height":1},{"id":"4194b6e7.6a4e58","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":15,"width":7,"height":1},{"id":"797fef3.cff0f1","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":16,"width":7,"height":1},{"id":"e081c500.744c38","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":17,"width":7,"height":1},{"id":"ad85fb49.00c758","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":18,"width":7,"height":1},{"id":"6fcf1e46.263e2","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":19,"width":7,"height":1},{"id":"49994b18.5e04f4","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":20,"width":7,"height":1},{"id":"c1f3c55.86d5338","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":21,"width":7,"height":1},{"id":"afabe7d4.abb8b8","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":22,"width":7,"height":1},{"id":"fedaa2ba.dd76f","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":23,"width":7,"height":1},{"id":"f08e9944.0f5ab8","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":24,"width":7,"height":1},{"id":"3ec88861.faa088","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":25,"width":7,"height":1},{"id":"94a964b6.497c08","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":26,"width":7,"height":1},{"id":"39514327.28a47c","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":2,"width":8,"height":1},{"id":"3b61292d.f74f66","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":4,"width":8,"height":1},{"id":"fc24ebfc.2cdcd8","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":5,"width":7,"height":1},{"id":"1018b7af.aa1508","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":8,"width":1,"height":1},{"id":"a364f89f.0e40a8","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":9,"width":1,"height":1},{"id":"a8e3a437.968178","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":10,"width":1,"height":1},{"id":"c8435d87.bfc62","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":11,"width":1,"height":1},{"id":"22e9a085.6fe9","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":12,"width":1,"height":1},{"id":"d9e3c666.b8b8a8","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":13,"width":7,"height":1},{"id":"ac6890af.18af6","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":14,"width":7,"height":1},{"id":"508e724a.b9ae5c","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":15,"width":7,"height":1},{"id":"246967b1.fb8cf8","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":16,"width":7,"height":1},{"id":"5316c650.90bcc8","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":17,"width":7,"height":1},{"id":"f98f451d.e82f48","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":18,"width":7,"height":1},{"id":"b9604028.39cbc","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":19,"width":7,"height":1},{"id":"2fcc3cdf.166734","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":20,"width":7,"height":1},{"id":"dfad1692.229548","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":21,"width":7,"height":1},{"id":"99e09ad3.69b098","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":22,"width":7,"height":1},{"id":"a94d05de.580828","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":23,"width":7,"height":1},{"id":"e41659a9.93a758","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":24,"width":7,"height":1},{"id":"fc4fbd62.2d3f4","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":25,"width":7,"height":1},{"id":"1990b004.7921","type":"ui_spacer","name":"spacer","group":"5bc3f723.c54258","order":26,"width":7,"height":1},{"id":"8aa2afbc.9c99","type":"twitter-credentials","z":0,"screen_name":"So_We_Live"},{"id":"cfb6cad4.544db8","type":"ui_tab","z":"","name":"Watson Discovery News Search","icon":"dashboard","disabled":true,"hidden":true},{"id":"7e700c4e.e361b4","type":"ui_group","z":"","name":"Query","tab":"cfb6cad4.544db8","order":1,"disp":false,"width":20,"collapse":false},{"id":"8e3c226c.1b01f","type":"ui_spacer","name":"spacer","group":"","order":1,"width":22,"height":1},{"id":"4ab7de02.dbb3","type":"ui_spacer","name":"spacer","group":"","order":3,"width":22,"height":1},{"id":"7d5ecfb6.75d56","type":"ui_spacer","name":"spacer","group":"","order":5,"width":22,"height":1},{"id":"bbac9d4d.667f5","type":"ui_spacer","name":"spacer","group":"","order":7,"width":22,"height":1},{"id":"d3fd062a.4a71f8","type":"ui_spacer","name":"spacer","group":"","order":9,"width":22,"height":1},{"id":"4225a69b.632d48","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":2,"width":8,"height":1},{"id":"91712a19.19bb98","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":4,"width":8,"height":1},{"id":"fc153c5e.879d6","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":5,"width":7,"height":1},{"id":"316e3ab8.e2c6a6","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":8,"width":1,"height":1},{"id":"320531ff.ca9e1e","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":9,"width":1,"height":1},{"id":"73b298e2.3f7198","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":10,"width":1,"height":1},{"id":"f4896f6a.8943f","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":11,"width":1,"height":1},{"id":"54f127a8.4035e8","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":12,"width":1,"height":1},{"id":"ac2bf018.fba6","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":13,"width":7,"height":1},{"id":"903690d2.483fc","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":14,"width":7,"height":1},{"id":"d32d47de.8d4528","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":15,"width":7,"height":1},{"id":"be3471fa.a0da2","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":16,"width":7,"height":1},{"id":"efdc9105.9b467","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":17,"width":7,"height":1},{"id":"3646c0d0.25cb3","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":18,"width":7,"height":1},{"id":"a5923ef8.6a75a","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":19,"width":7,"height":1},{"id":"8ea9c63b.6c39c8","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":20,"width":7,"height":1},{"id":"7e6af8ab.23c0a8","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":21,"width":7,"height":1},{"id":"cd37067c.1b4a18","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":22,"width":7,"height":1},{"id":"49de01f5.bd6f7","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":23,"width":7,"height":1},{"id":"7ede59f4.ef59d8","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":24,"width":7,"height":1},{"id":"ea1f15ba.548d28","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":25,"width":7,"height":1},{"id":"53892b8f.3cd204","type":"ui_spacer","name":"spacer","group":"7e700c4e.e361b4","order":26,"width":7,"height":1},{"id":"60fd5713.3f80b8","type":"ui_spacer","name":"spacer","group":"6caa184f.5e7e88","order":2,"width":1,"height":1},{"id":"b1b11140.4e4ef","type":"inject","z":"c8ffbbba.dc4c48","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"string","repeat":"","crontab":"","once":false,"x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"c8ffbbba.dc4c48","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"3d763cf8.e41d94","type":"function","z":"2008b4b8.640cec","name":"","func":"msg = {\n    discoveryparams:\n    {\n        \"environment_id\":\"system\",\n        \"query\":msg.payload.input\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":70,"y":220,"wires":[["56d5b34d.32600c"]]},{"id":"56d5b34d.32600c","type":"watson-discovery-v1","z":"2008b4b8.640cec","name":"news","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"10","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/ba8a867f-ae7d-4745-99d3-838fe2676681","x":90,"y":280,"wires":[["f8460327.d32ca","a563810.d293b8","7cdf9888.a73158","7d113173.fddc4","5e03aa80.2ad624","a42fc3cc.509f8","49764567.6b2d8c","341a4a43.942e36","589b40e.56cd3c","9a139d4b.e6afc","a6e7e0bc.f08fd","72dca7b3.719f98","fc2b8917.2cce08","2b6b3ad3.d91d86","593b7693.c7fac8","79a4c74e.db4488","b781fe0a.6e644","aded0a4b.c00538","b71a13a.f3c6bf","66572812.348c48","1c37522c.433b5e","3a637c8e.a2af14","56369b4.2c4c964"]]},{"id":"f8460327.d32ca","type":"function","z":"2008b4b8.640cec","name":"text","func":"msg.payload=msg.search_results.results[0].text;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["d74ef399.d57e3","dafe55d0.2378e8"]]},{"id":"1c83dd6a.004833","type":"function","z":"2008b4b8.640cec","name":"sentiment score","func":"msg.payload = msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":680,"wires":[["7f916288.9bfcec","e23eb177.97875","71c1af02.8d7df"]]},{"id":"a563810.d293b8","type":"function","z":"2008b4b8.640cec","name":"Top 10 Sentiment - Discovery","func":"var i;\nmsg.payload=null;\nfor (i = 0; i < 10; i++) {\n  msg.payload += msg.search_results.results[i].text + msg.search_results.results[i].title;\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":720,"wires":[["8419ac55.2297e"]]},{"id":"3ebc7851.947038","type":"function","z":"2008b4b8.640cec","name":"For Twitter","func":"msg.payload = \"#\"+msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":520,"wires":[["2fe3423e.11488e","413ebeec.688ad"]]},{"id":"413ebeec.688ad","type":"function","z":"2008b4b8.640cec","name":"","func":"msg.payload = \"Recent tweets regarding: \"+msg.payload; \nreturn msg;","outputs":1,"noerr":0,"x":450,"y":500,"wires":[["bdb96968.919f88"]]},{"id":"250986b5.f1f62a","type":"ui_form","z":"2008b4b8.640cec","name":"","label":"Search","group":"99765ba7.5e4af8","order":1,"width":8,"height":3,"options":[{"label":"Enter the query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"Search","cancel":"Cancel","topic":"","x":100,"y":180,"wires":[["3d763cf8.e41d94","3ebc7851.947038","9abfc9f4.110ca8"]]},{"id":"12cd462b.d7c50a","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":6,"width":5,"height":4,"name":"Tweets","label":"","format":"{{msg.payload}}","layout":"row-right","x":600,"y":540,"wires":[]},{"id":"7f916288.9bfcec","type":"ui_gauge","z":"2008b4b8.640cec","name":"","group":"99765ba7.5e4af8","order":5,"width":5,"height":4,"gtype":"gage","title":"Sentiment Analysis Score","label":"","format":"{{value}}","min":"-30","max":"30","colors":["#fd401e","#e6e600","#32ea17"],"seg1":"","seg2":"","x":930,"y":640,"wires":[]},{"id":"e23eb177.97875","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":3,"width":5,"height":2,"name":"","label":"Sentiment of Search Results: ","format":"{{msg.payload}}","layout":"row-center","x":940,"y":600,"wires":[]},{"id":"bdb96968.919f88","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":4,"width":5,"height":2,"name":"About","label":"","format":"{{msg.payload}}","layout":"row-right","x":590,"y":500,"wires":[]},{"id":"fbe2799f.637518","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":11,"width":6,"height":1,"name":"Title","label":"Title: ","format":"{{msg.payload}}","layout":"row-left","x":390,"y":60,"wires":[]},{"id":"7d113173.fddc4","type":"function","z":"2008b4b8.640cec","name":"author","func":"msg.payload=msg.search_results.results[0].author;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["2ae8ed84.5ebe82"]]},{"id":"7cdf9888.a73158","type":"function","z":"2008b4b8.640cec","name":"Title","func":"msg.payload=msg.search_results.results[0].title;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["fbe2799f.637518"]]},{"id":"2ae8ed84.5ebe82","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":14,"width":6,"height":1,"name":"author","label":"Author: ","format":"{{msg.payload}}","layout":"row-left","x":390,"y":100,"wires":[]},{"id":"5e03aa80.2ad624","type":"function","z":"2008b4b8.640cec","name":"main page url","func":"msg.payload=msg.search_results.results[0].host;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["13d44191.8c0d5e"]]},{"id":"a42fc3cc.509f8","type":"function","z":"2008b4b8.640cec","name":"url","func":"msg.payload=msg.search_results.results[0].url;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["1c37522c.433b5e"]]},{"id":"49764567.6b2d8c","type":"function","z":"2008b4b8.640cec","name":"score","func":"msg.payload=msg.search_results.results[0].result_metadata.score;\nmsg.topic = \"Search result #1\";\none = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":260,"wires":[["7d4800b8.84b08","3e05dea5.75f9f2"]]},{"id":"d74ef399.d57e3","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":24,"width":6,"height":3,"name":"text","label":"Text: ","format":"{{msg.payload}}","layout":"row-left","x":390,"y":140,"wires":[]},{"id":"13d44191.8c0d5e","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":21,"width":6,"height":1,"name":"main page url","label":"Main Url: ","format":"{{msg.payload}}","layout":"row-left","x":480,"y":180,"wires":[]},{"id":"7d4800b8.84b08","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":28,"width":6,"height":1,"name":"score","label":"Score: ","format":"{{msg.payload}}","layout":"row-left","x":390,"y":260,"wires":[]},{"id":"66572812.348c48","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":8,"width":6,"height":1,"name":"Search Result #1","label":"Search Result #1","format":"{{msg.payload}}","layout":"col-center","x":310,"y":20,"wires":[]},{"id":"3e05dea5.75f9f2","type":"ui_gauge","z":"2008b4b8.640cec","name":"","group":"99765ba7.5e4af8","order":33,"width":6,"height":2,"gtype":"gage","title":"Gauge","label":"","format":"{{value}}","min":"-30","max":"30","colors":["#ff8000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":390,"y":300,"wires":[]},{"id":"a6e7e0bc.f08fd","type":"function","z":"2008b4b8.640cec","name":"text","func":"msg.payload=msg.search_results.results[1].text;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":140,"wires":[["f9edc601.50c6a8","5017ab7.be31854"]]},{"id":"9934038f.3e16c","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":12,"width":6,"height":1,"name":"Title","label":"Title: ","format":"{{msg.payload}}","layout":"row-left","x":750,"y":60,"wires":[]},{"id":"9a139d4b.e6afc","type":"function","z":"2008b4b8.640cec","name":"author","func":"msg.payload=msg.search_results.results[1].author;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":100,"wires":[["ae277863.cc1658"]]},{"id":"589b40e.56cd3c","type":"function","z":"2008b4b8.640cec","name":"Title","func":"msg.payload=msg.search_results.results[1].title;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":60,"wires":[["9934038f.3e16c"]]},{"id":"ae277863.cc1658","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":15,"width":6,"height":1,"name":"author","label":"Author: ","format":"{{msg.payload}}","layout":"row-left","x":750,"y":100,"wires":[]},{"id":"72dca7b3.719f98","type":"function","z":"2008b4b8.640cec","name":"main page url","func":"msg.payload=msg.search_results.results[1].host;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":180,"wires":[["9c922133.0c47d"]]},{"id":"56369b4.2c4c964","type":"function","z":"2008b4b8.640cec","name":"url","func":"msg.payload=msg.search_results.results[1].url;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":220,"wires":[["dbea278d.46dea8"]]},{"id":"fc2b8917.2cce08","type":"function","z":"2008b4b8.640cec","name":"score","func":"msg.payload=msg.search_results.results[1].result_metadata.score;\nmsg.topic = \"Search result #2\";\ntwo = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["b0fb2914.27b6d8","86891e05.49f53"]]},{"id":"f9edc601.50c6a8","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":25,"width":6,"height":3,"name":"text","label":"Text: ","format":"{{msg.payload}}","layout":"row-left","x":750,"y":140,"wires":[]},{"id":"9c922133.0c47d","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":22,"width":6,"height":1,"name":"main page url","label":"Main Url: ","format":"{{msg.payload}}","layout":"row-left","x":840,"y":180,"wires":[]},{"id":"b0fb2914.27b6d8","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":29,"width":6,"height":1,"name":"score","label":"Score: ","format":"{{msg.payload}}","layout":"row-left","x":750,"y":260,"wires":[]},{"id":"341a4a43.942e36","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":9,"width":6,"height":1,"name":"Search Result #2","label":"Search Result #2","format":"{{msg.payload}}","layout":"col-center","x":670,"y":20,"wires":[]},{"id":"86891e05.49f53","type":"ui_gauge","z":"2008b4b8.640cec","name":"","group":"99765ba7.5e4af8","order":34,"width":6,"height":2,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":"-30","max":"30","colors":["#ff8000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":750,"y":300,"wires":[]},{"id":"b781fe0a.6e644","type":"function","z":"2008b4b8.640cec","name":"text","func":"msg.payload=msg.search_results.results[2].text;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":140,"wires":[["f1dbeb81.a08188","df89ec01.0dcf1"]]},{"id":"690f22b0.a6a4fc","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":13,"width":6,"height":1,"name":"Title","label":"Title: ","format":"{{msg.payload}}","layout":"row-left","x":1130,"y":60,"wires":[]},{"id":"79a4c74e.db4488","type":"function","z":"2008b4b8.640cec","name":"author","func":"msg.payload=msg.search_results.results[2].author;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":100,"wires":[["d160c1e4.2d6"]]},{"id":"593b7693.c7fac8","type":"function","z":"2008b4b8.640cec","name":"Title","func":"msg.payload=msg.search_results.results[2].title;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":60,"wires":[["690f22b0.a6a4fc"]]},{"id":"d160c1e4.2d6","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":16,"width":6,"height":1,"name":"author","label":"Author: ","format":"{{msg.payload}}","layout":"row-left","x":1130,"y":100,"wires":[]},{"id":"aded0a4b.c00538","type":"function","z":"2008b4b8.640cec","name":"main page url","func":"msg.payload=msg.search_results.results[2].host;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":180,"wires":[["ce5e4c6a.1a992"]]},{"id":"3a637c8e.a2af14","type":"function","z":"2008b4b8.640cec","name":"url","func":"msg.payload=msg.search_results.results[2].url;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":220,"wires":[["10a66f90.1be26"]]},{"id":"b71a13a.f3c6bf","type":"function","z":"2008b4b8.640cec","name":"score","func":"msg.payload=msg.search_results.results[2].result_metadata.score;\nmsg.topic = \"Search result #3\";\nthree = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":260,"wires":[["123f7d1a.5c7a73","3fff3e0e.16cb82"]]},{"id":"f1dbeb81.a08188","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":26,"width":6,"height":3,"name":"text","label":"Text: ","format":"{{msg.payload}}","layout":"row-left","x":1130,"y":140,"wires":[]},{"id":"ce5e4c6a.1a992","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":23,"width":6,"height":1,"name":"main page url","label":"Main Url: ","format":"{{msg.payload}}","layout":"row-left","x":1220,"y":180,"wires":[]},{"id":"123f7d1a.5c7a73","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":30,"width":6,"height":1,"name":"score","label":"Score: ","format":"{{msg.payload}}","layout":"row-left","x":1130,"y":260,"wires":[]},{"id":"2b6b3ad3.d91d86","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":10,"width":6,"height":1,"name":"Search Result #3","label":"Search Result #3","format":"{{msg.payload}}","layout":"col-center","x":1050,"y":20,"wires":[]},{"id":"3fff3e0e.16cb82","type":"ui_gauge","z":"2008b4b8.640cec","name":"","group":"99765ba7.5e4af8","order":35,"width":6,"height":2,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":"-30","max":"30","colors":["#ff8000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":1130,"y":300,"wires":[]},{"id":"a0bee86f.b752b8","type":"function","z":"2008b4b8.640cec","name":"positive","func":"if(msg.sentiment.score >= 0 ){\n    msg.payload= msg.sentiment.score;\n}\nelse{\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":720,"wires":[["d5077e0b.01cc8"]]},{"id":"99209d0d.6bf48","type":"function","z":"2008b4b8.640cec","name":"negative","func":"if(msg.sentiment.score < 0 ){\n    msg.payload =  msg.sentiment.score*-1;\n}\nelse{\n    msg.payload =  0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":760,"wires":[["3eb705ca.efc51a"]]},{"id":"d5077e0b.01cc8","type":"ui_chart","z":"2008b4b8.640cec","name":"","group":"99765ba7.5e4af8","order":31,"width":5,"height":4,"label":"Positive Chart","chartType":"horizontalBar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff00","#aec7e8","#ff7f0e","#00ff00","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":900,"y":740,"wires":[[]]},{"id":"3eb705ca.efc51a","type":"ui_chart","z":"2008b4b8.640cec","name":"","group":"99765ba7.5e4af8","order":32,"width":5,"height":4,"label":"Negative Chart","chartType":"horizontalBar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":900,"y":780,"wires":[[]]},{"id":"71c1af02.8d7df","type":"ui_chart","z":"2008b4b8.640cec","name":"","group":"99765ba7.5e4af8","order":27,"width":10,"height":3,"label":"Score Chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-30","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff00ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":700,"wires":[[]]},{"id":"cdd7822e.f11c5","type":"function","z":"2008b4b8.640cec","name":"","func":"msg.payload = msg.sentiment.score;\nmsg.topic = \"Search Result #1\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["9e657dc5.26ae1","bf0e9d9e.bb06e"]]},{"id":"5d1a8e9f.2cb8c","type":"function","z":"2008b4b8.640cec","name":"","func":"msg.payload = msg.sentiment.score;\nmsg.topic = \"Search Result #2\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":360,"wires":[["17bfe2d4.ba658d","bf0e9d9e.bb06e"]]},{"id":"79f522.68e9cae","type":"function","z":"2008b4b8.640cec","name":"","func":"msg.payload = msg.sentiment.score;\nmsg.topic = \"Search Result #3\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":360,"wires":[["112b0332.d2868d","bf0e9d9e.bb06e"]]},{"id":"9e657dc5.26ae1","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":37,"width":10,"height":1,"name":"","label":"Sentiment of Search Result #1","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":460,"wires":[]},{"id":"17bfe2d4.ba658d","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":38,"width":10,"height":1,"name":"","label":"Sentiment of Search Result #2","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":460,"wires":[]},{"id":"112b0332.d2868d","type":"ui_text","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","order":39,"width":10,"height":1,"name":"","label":"Sentiment of Search Result #3","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":460,"wires":[]},{"id":"bf0e9d9e.bb06e","type":"ui_chart","z":"2008b4b8.640cec","name":"Sentiment of Search Results","group":"99765ba7.5e4af8","order":36,"width":18,"height":4,"label":"Sentiment of Search Results","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-30","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff71ff","#00ff40","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":709,"y":406,"wires":[[]]},{"id":"5a5d32ba.8b112c","type":"watson-discovery-v1","z":"5576153b.80163c","name":"news","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"5","passages":true,"nlp_query":true,"query":"","filter":"crawl_date>2020-05-14T10:23:15","aggregation":"term(enriched_title.entities.text,count:20).top_hits(1)","return":"enriched_title.entities.text","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/ba8a867f-ae7d-4745-99d3-838fe2676681","x":310,"y":260,"wires":[["19507cbb.a1c793","41501677.fb45c8","140ea66e.6d69aa","1a49d49f.14527b","639e1d47.fdad84"]]},{"id":"9d7376c0.4b7c78","type":"comment","z":"5576153b.80163c","name":"Trending Topics","info":"","x":180,"y":80,"wires":[]},{"id":"d97ea43c.c78868","type":"ui_button","z":"5576153b.80163c","name":"","group":"c803f0e.6d4861","order":2,"width":11,"height":1,"passthru":false,"label":"Get trending news","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":210,"y":180,"wires":[["5a5d32ba.8b112c"]]},{"id":"19507cbb.a1c793","type":"ui_template","z":"5576153b.80163c","group":"c803f0e.6d4861","name":"","order":4,"width":5,"height":7,"format":"<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\na:link {\n    text-decoration: none;\n  color: orange;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n    text-decoration: none;\n  color: green;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <br><br><center>\n    <a href=\"{{msg.search_results.aggregations[0].results[0].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[0].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[4].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[4].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[8].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[8].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[12].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[12].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[16].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[16].key}}</span></a><br><br><br>\n    </center>\n</div>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":540,"y":200,"wires":[[]]},{"id":"639e1d47.fdad84","type":"ui_template","z":"5576153b.80163c","group":"c803f0e.6d4861","name":"","order":1,"width":20,"height":2,"format":"<style>\nh2 { color: \"blue\",font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\n</style>\n<div>\n    <br>\n    <h2>This is a web app to help you find Trending Topics in the News using Watson Discovery Service. Click on the Get Trending News button and discover the top 10 trending topics.\n<br> Click on each topic to navigate to a news article related to that topic.<br><br></h2>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":380,"y":340,"wires":[[]]},{"id":"41501677.fb45c8","type":"ui_template","z":"5576153b.80163c","group":"c803f0e.6d4861","name":"","order":5,"width":5,"height":7,"format":"<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\na:link {\n    text-decoration: none;\n  color: orange;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n    text-decoration: none;\n  color:green;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <br><br><center>\n    <a href=\"{{msg.search_results.aggregations[0].results[1].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[1].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[5].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[5].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[9].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[9].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[13].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[13].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[17].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[17].key}}</span></a><br><br><br>\n    </center>\n</div>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":540,"y":240,"wires":[[]]},{"id":"140ea66e.6d69aa","type":"ui_template","z":"5576153b.80163c","group":"c803f0e.6d4861","name":"","order":6,"width":5,"height":7,"format":"<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\na:link {\n    text-decoration: none;\n  color: orange;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n    text-decoration: none;\n  color: green;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <br><br><center>\n    <a href=\"{{msg.search_results.aggregations[0].results[2].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[2].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[6].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[6].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[10].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[10].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[14].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[14].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[18].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[18].key}}</span></a><br><br><br>\n    </center>\n</div>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":540,"y":280,"wires":[[]]},{"id":"1a49d49f.14527b","type":"ui_template","z":"5576153b.80163c","group":"c803f0e.6d4861","name":"","order":7,"width":5,"height":7,"format":"<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\na:link {\n    text-decoration: none;\n  color: orange;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n    text-decoration: none;\n  color: green;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <br><br><center>\n    <a href=\"{{msg.search_results.aggregations[0].results[3].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[3].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[7].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[7].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[11].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[11].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[15].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[15].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[19].aggregations[0].hits.hits[0].url}}\"><span>{{msg.search_results.aggregations[0].results[19].key}}</span></a><br><br><br>\n    </center>\n</div>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":540,"y":320,"wires":[[]]},{"id":"61d64e7b.cfcbe","type":"ui_template","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","name":"","order":2,"width":10,"height":3,"format":"<style>\nh2 { color: \"blue\",font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\n</style>\n<div>\n    <br><br>\n    <h2>Watson News is a pre-enriched dataset that is updated continuosly with over 300,000 news articles and blogs a day. Search a specific news item from the Watson Discovery Service.\n    </h2>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":340,"wires":[[]]},{"id":"1c37522c.433b5e","type":"ui_template","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","name":"url","order":18,"width":6,"height":2,"format":"<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 20px; }\na:link {\n  color: orange;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n  color: green;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<a href=\"{{msg.payload}}\" target=\"_blank\"><span style=\"font-weight: bold;\">{{msg.payload}}</span></a>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":410,"y":220,"wires":[[]]},{"id":"dbea278d.46dea8","type":"ui_template","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","name":"url","order":19,"width":6,"height":2,"format":"<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 20px; }\na:link {\n  color: orange;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n  color: green;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<a href=\"{{msg.payload}}\" target=\"_blank\"><span style=\"font-weight: bold;\">{{msg.payload}}</span></a>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":770,"y":220,"wires":[[]]},{"id":"10a66f90.1be26","type":"ui_template","z":"2008b4b8.640cec","group":"99765ba7.5e4af8","name":"url","order":20,"width":6,"height":2,"format":"<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 20px; }\na:link {\n  color: orange;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n  color: green;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<a href=\"{{msg.payload}}\" target=\"_blank\"><span style=\"font-weight: bold;\">{{msg.payload}}</span></a>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1130,"y":220,"wires":[[]]},{"id":"2fd378ba.58ba18","type":"function","z":"2008b4b8.640cec","name":"retrieval","func":"msg.payload=\n[\n    {\n\"series\":[\"News\"],\n\"data\":[msg.payload[0],msg.payload[1],msg.payload[2]],\n\"labels\":[\"Negative\",\"Neutral\",\"Positive\"]\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":600,"wires":[["451a89d1.bc8568"]]},{"id":"451a89d1.bc8568","type":"ui_chart","z":"2008b4b8.640cec","name":"","group":"99765ba7.5e4af8","order":17,"width":10,"height":4,"label":"","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":600,"wires":[[]]},{"id":"25ec57de.102288","type":"ui_ui_control","z":"2008b4b8.640cec","name":"","events":"all","x":100,"y":440,"wires":[[]]},{"id":"a5c283f9.0a421","type":"ui_button","z":"2008b4b8.640cec","name":"","group":"99765ba7.5e4af8","order":7,"width":18,"height":1,"passthru":false,"label":"Click here for Trending News","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"1\"}","payloadType":"json","topic":"","x":160,"y":400,"wires":[["25ec57de.102288"]]},{"id":"66629ff1.03b7f","type":"ui_button","z":"5576153b.80163c","name":"","group":"c803f0e.6d4861","order":3,"width":9,"height":1,"passthru":false,"label":"Go to Main Search","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"0\"}","payloadType":"json","topic":"","x":190,"y":400,"wires":[["65eb6d89.6fd9f4"]]},{"id":"65eb6d89.6fd9f4","type":"ui_ui_control","z":"5576153b.80163c","name":"","events":"all","x":360,"y":400,"wires":[[]]},{"id":"ec518138.55a31","type":"inject","z":"5576153b.80163c","name":"","topic":"","payload":"{msg.payload}","payloadType":"str","repeat":"","crontab":"0 0-22 * * *","once":true,"onceDelay":0.1,"x":140,"y":260,"wires":[["5a5d32ba.8b112c","5bb9e1ff.b7c2e"]]},{"id":"5bb9e1ff.b7c2e","type":"debug","z":"5576153b.80163c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":180,"y":360,"wires":[]},{"id":"8419ac55.2297e","type":"sentiment","z":"2008b4b8.640cec","name":"","property":"payload","x":540,"y":720,"wires":[["1c83dd6a.004833","a0bee86f.b752b8","99209d0d.6bf48"]]},{"id":"dafe55d0.2378e8","type":"sentiment","z":"2008b4b8.640cec","name":"","property":"payload","x":300,"y":360,"wires":[["cdd7822e.f11c5"]]},{"id":"5017ab7.be31854","type":"sentiment","z":"2008b4b8.640cec","name":"","property":"payload","x":640,"y":360,"wires":[["5d1a8e9f.2cb8c"]]},{"id":"df89ec01.0dcf1","type":"sentiment","z":"2008b4b8.640cec","name":"","property":"payload","x":960,"y":360,"wires":[["79f522.68e9cae"]]},{"id":"2fe3423e.11488e","type":"twitter in","z":"2008b4b8.640cec","twitter":"8aa2afbc.9c99","tags":"","user":"false","name":"","inputs":1,"x":450,"y":540,"wires":[["12cd462b.d7c50a"]]},{"id":"56fe47de.7964e8","type":"watson-discovery-v1","z":"2008b4b8.640cec","name":"news","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"10","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"term(enrichedTitle.entities.text)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/ba8a867f-ae7d-4745-99d3-838fe2676681","x":110,"y":600,"wires":[["8877a21f.1e268"]]},{"id":"8877a21f.1e268","type":"function","z":"2008b4b8.640cec","name":"Sentiment","func":"var msg, i;\nvar val=[0,0,0];\nfor(i=0 ;i<10;i++)\n{\n    if(msg.search_results.results[i].enriched_text.sentiment.document.score < 0)\n        val[0]++;\n    if(msg.search_results.results[i].enriched_text.sentiment.document.score === 0)\n        val[1]++;\n    if(msg.search_results.results[i].enriched_text.sentiment.document.score > 0)\n        val[2]++;\n}\nmsg.payload=val;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":600,"wires":[["2fd378ba.58ba18"]]},{"id":"74d72d89.2b4694","type":"comment","z":"2008b4b8.640cec","name":"Query Builder","info":"","x":1330,"y":80,"wires":[]},{"id":"9abfc9f4.110ca8","type":"function","z":"2008b4b8.640cec","name":"","func":"msg = {\n    discoveryparams:\n    {\n        \"environment_id\":\"system\",\n        \"query\":msg.payload.input\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":90,"y":540,"wires":[["56fe47de.7964e8"]]}]